{% extends "myapp/base.html" %}

{% block title %}{{page}}{% endblock %}

{% block heading %}{{topic}}{% endblock %}

{% block link %}
<div class="links">
    <a href="{% url 'counter_page' %}">Go to Counter Page</a>
    <a href="{% url 'index_demo' %}">Go to Index Demo</a>
</div>
{% endblock %}

{% block content %}
<div class="commands-section">
    <h2>Useful Django Commands</h2>
    <table class="commands-table">
        <thead>
            <tr>
                <th>Command</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for item in commands %}
            <tr>
                <td><code>{{ item.command }}</code></td>
                <td>{{ item.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
